<p-scroll-panel>
  <div class="topology-tree">
    <sbb-tpl-topology-tree
      [namespaces]="namespaces()"
      [namespaceContextMenuItems]="namespaceContextMenuItems"
      [queuesGroupNodeContextMenu]="queuesGroupNodeContextMenu"
      [topicsGroupNodeContextMenu]="topicsGroupNodeContextMenu"
      [queueContextMenu]="queueContextMenuItems"
      [topicContextMenu]="topicContextMenuItems"
      [subscriptionContextMenu]="subscriptionContextMenuItems"
      [subscriptionRuleContextMenu]="subscriptionRuleContextMenuItems"
      (queueSelected)="onQueueSelected($event)"
      (topicSelected)="onTopicSelected($event)"
      (subscriptionSelected)="onSubscriptionSelected($event)"
      (subscriptionRuleSelected)="onSubscriptionRuleSelected($event)"
    />
  </div>
</p-scroll-panel>
<sbb-task-tasks [tasks]="openTasks()"></sbb-task-tasks>
