@import '../../../styling/colorscheme.scss';

:host {
    position: absolute;
    display: block;
    z-index: 10;
    background-color: darken($background-darkest, 2%);
    color: $text-light;
    box-sizing: border-box;
    box-shadow: 0 0 2px 1px darken($background-darkest, 5%);

    &:focus {
        outline: none;
    }
}