@use "primeicons/primeicons.css" as *;
@use "./styles/highlightjs-themes" as hightlightjsThemes;

head, body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}/* You can add global styles to this file, and also import other style files */

.page-container {
  padding: 1rem;
}

.page-title {
  font-size: 1.3rem;
  margin: 0 0 0.5rem 0;
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  @include hightlightjsThemes.light;
}

@media (prefers-color-scheme: dark) {
  @include hightlightjsThemes.dark;
}

.hljs {
  user-select: text;
  display: block;
  width: fit-content;
  background: var(--p-surface-50);
  font: 13px Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  @media (prefers-color-scheme: dark) {
    background: var(--p-surface-950);
  }
}
