@import "./../../../styling/colorscheme.scss";

.sidebar {
    background: $background-darkest;
    height: 100%;
    width: 300px;
    overflow: auto;
    padding: 16px 10px;
    color: $text-light;
}