@import "./../../../styling/colorscheme.scss";

.sidebar {
    background: lighten($background-darkest, 1%);
    height: 100%;
    width: 300px;
    overflow: hidden;
    color: $text-light;
    display: flex;
}

.content {
    flex: 1;
    padding: 16px 10px;
    height: 100%;
    overflow: auto;
}

.scrollborder {
    width: 3px;
    cursor: ew-resize;
}