:host {
  display: grid;
  height: 100%;
  width: 100%;

  grid-template-areas:
    'menu menu'
    'sidebar tabs'
    'sidebar page'
    'sidebar console';

  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: auto 1fr;
}

.menu {
  grid-area: menu;
}

.sidebar {
  grid-area: sidebar;
}

.tabs {
  grid-area: tabs;
  overflow-y: auto;
}

.page {
  grid-area: page;
  overflow: auto;
  padding: 0.5em;
}

.console {
  grid-area: console;
}
