<app-contextmenu-item (click)="getQueuedMessages($event)">Peek messages</app-contextmenu-item>
<app-contextmenu-item (click)="getDeadletters($event)">Peek deadletter messages</app-contextmenu-item>
<app-contextmenu-item (click)="getTransferredDeadletters($event)">Peek transferred deadletter messages</app-contextmenu-item>

<app-contextmenu-divider></app-contextmenu-divider>

<app-contextmenu-item (click)="clearQueuedMessages($event)">Clear messages</app-contextmenu-item>
<app-contextmenu-item (click)="clearDeadletterMessages($event)">Clear deadletter messages</app-contextmenu-item>
<app-contextmenu-item (click)="clearTransferedDeadletterMessages($event)">Clear transferred deadletter messages</app-contextmenu-item>