@import '../../styling/colorscheme.scss';

.storedConnection {
    padding: 6px 0px;
    display: flex;
    .name {
        flex: 1;
    }

    .open, .delete {
        margin: 0px 6px;
        cursor: pointer;

        &:hover {
            color: lighten($text, 20%);
        }
    }
}