@import "../../../styling/colorscheme.scss";
@import "../../../styling/boxes.scss";
@import "../../../styling/forms.scss";
@import "../../../styling/property-table.scss";

.container {
  display: grid;
  gap: 12px;
  height: 100%;
  grid-template-areas:
      "name type"
      "filter action";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 2fr;
  min-height: 0px;


  @media all and (max-width: $medium-layout) {
    grid-template-columns: 1fr;
    grid-template-areas:
    "name"
    "type"
    "filter"
    "action";

    &.sql {
      grid-template-rows: 100px 100px 250px 250px;
    }
    &.correlation {
      grid-template-rows: 100px 100px 450px 250px;
    }
  }

  overflow-y: scroll;
  padding-bottom: 10px;

  .name {
    grid-area: name;
  }

  .subscription-properties {
    grid-area: subscription-properties;
  }

  .subscription-settings {
    grid-area: subscription-settings;
  }

  .subscription-information {
    grid-area: subscription-information;
  }

  .subscription-actions {
    grid-area: subscription-actions;
  }
}

.box-body {
  nu-monaco-editor {
    width: 100%;
    height: 100% !important;
  }
}

.keyvalue {
  display: flex;
  flex-direction: row;
}

.formcontrol.keyvalue {
  margin-top: 0;
}

#applicationProperties-label {
  font-size: 0.9em;
}