<form [formGroup]="form" class="container"
      [class.sql]="form.value.type == 'sql'" [class.correlation]="form.value.type == 'correlation'">
    <div class="name box">
        <span class="box-title">Name</span>
        <span class="box-body">
            <div class="formcontrol">
                <input formControlName="name"/>
            </div>
        </span>
    </div>

    <div class="type box">
        <span class="box-title">Type</span>
        <span class="box-body">
            <label>
                <input type="radio" value="sql" formControlName="type">
                <span>sql</span>
            </label>
            <label>
                <input type="radio" value="correlation" formControlName="type">
                <span>correlation</span>
            </label>
        </span>
    </div>

    <div class="filter box">
        <span class="box-title">Filter</span>
        <ng-container *ngIf="form.value.type == 'sql'">
            <div class="box-body sql no-padding">
                <nu-monaco-editor [options]="editorOptions" formControlName="sqlFilter"></nu-monaco-editor>
            </div>
        </ng-container>
        <ng-container *ngIf="form.value.type == 'correlation'">
            <span class="box-body correlaction">
                <div class="formcontrol">
                    <div class="batched-operations checkbox-option">
                        <label for="correlationFilterContentType">Content type</label>
                        <input type="text" formControlName="correlationFilterContentType"/>
                    </div>
                    <div class="batched-operations checkbox-option">
                        <label for="correlationFilterCorrelationId">Correlation Id</label>
                        <input type="text" formControlName="correlationFilterCorrelationId"/>
                    </div>
                    <div class="batched-operations checkbox-option">
                        <label for="correlationFilterSubject">Subject</label>
                        <input type="text" formControlName="correlationFilterSubject"/>
                    </div>
                    <div class="batched-operations checkbox-option">
                        <label for="correlationFilterMessageId">Message Id</label>
                        <input type="text" formControlName="correlationFilterMessageId"/>
                    </div>
                    <div class="batched-operations checkbox-option">
                        <label for="correlationFilterReplyToSessionId">Reply To Session Id</label>
                        <input type="text" formControlName="correlationFilterReplyToSessionId"/>
                    </div>
                    <div class="batched-operations checkbox-option">
                        <label for="correlationFilterSessionId">Session Id</label>
                        <input type="text" formControlName="correlationFilterSessionId"/>
                    </div>
                    <div class="batched-operations checkbox-option">
                        <label for="correlationFilterReplyTo">To</label>
                        <input type="text" formControlName="correlationFilterReplyToSessionId"/>
                    </div>
                </div>
            </span>
        </ng-container>
    </div>

    <div class="action box">
        <span class="box-title">Action</span>
        <div class="box-body no-padding">
            <nu-monaco-editor [options]="editorOptions" formControlName="sqlAction"></nu-monaco-editor>
        </div>
    </div>
</form>