@import "../../../styling/colorscheme.scss";

.messages-table {
  width: 100%;
  border-collapse: collapse;
}

.header {
  font-weight: bold;
  border-bottom: solid 1px $background-dark;
}

.row,
.header {
  line-height: 30px;
  cursor: pointer;

  & >th, & > td {
    text-align: start;
    padding: 0 10px;
  }

  & > td {
    font-size: 0.7em;
  }


  &:nth-child(even) {
    background-color: $background-lighter;
  }

  &.selected {
    background-color: $accent-light;
  }
}