<form [formGroup]="form">
    <div class="formcontrol">
        <label for="years">Years</label>
        <input type="number" formControlName="years">
    </div>
    <div class="formcontrol">
        <label for="months">Months</label>
        <input type="number" formControlName="months">
    </div>
    <div class="formcontrol">
        <label for="weeks">Weeks</label>
        <input type="number" formControlName="weeks">
    </div>
    <div class="formcontrol">
        <label for="days">Days</label>
        <input type="number" formControlName="days">
    </div>
    <div class="formcontrol">
        <label for="hours">Hours</label>
        <input type="number" formControlName="hours">
    </div>
    <div class="formcontrol">
        <label for="minutes">Minutes</label>
        <input type="number" formControlName="minutes">
    </div>
    <div class="formcontrol">
        <label for="seconds">Seconds</label>
        <input type="number" formControlName="seconds">
    </div>
</form>