@import "./../../../styling/colorscheme.scss";
@import "./../menuConfig.scss";

:host {
    display: block;
    width: 100%;
}

.submenu-item {
    padding: 0 $menu-spacing;
    line-height: $menu-height;
    color: darken($text-light, 10%);
    cursor: pointer;
    display: block;
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;

    &:hover {
        color: $text-light;
    } 
}