@import "./../../../styling/colorscheme.scss";
@import "./../menuConfig.scss";

:host {
    display: block;
    width: 100%;
}

.submenu-item {
    padding: 0 $menu-spacing;
    line-height: $menu-height;
    color: darken($text-light, 10%);
    cursor: pointer;

    &:hover {
        color: $text-light;
    } 
}