.queue {
  display: flex;
  .queuename {
    flex: 1;
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }

  .queuespecs {
    padding-left: 10px;
  }
}
