.subscription {
    display: flex;

    .subscription-name {
        flex: 1;
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }

    .subscription-specs {
        padding-left: 10px;
      }
}