<app-toggle-box>
  <span class="title" (contextmenu)="onContextMenuSelected($event)" (click)="onSelected($event)" >
      <span class="subscription-name">{{ subscription.name }}</span>
      <span class="subscription-specs">({{subscription.info.activeMessageCount}}, {{subscription.info.deadLetterMessageCount}}, {{subscription.info.transferDeadLetterMessageCount}})</span>
  </span>
  <span class="body">
    <span class="rule" (click)="onRuleSelected($event, rule)" *ngFor="let rule of subscription.rules">{{rule.name}}</span>
  </span>
</app-toggle-box>
