.toggle-box-title {
    width: 100%;
}

.toggle-box-content {
    padding-left: 16px;
    width: 100%;
}

.title-box {
    display: flex;
    width: 100%;
    margin-bottom: 4px;
    cursor: pointer;

    fa-icon {
        width: 16px;
    }

    .title-box-content {
        flex: 1;
    }
}

.toggle-box-content {
    display: none;
    &.open {
        display: block;
    }
}