@import "./../../../styling/colorscheme.scss";
@import "./../menuConfig.scss";

:host {
    display: inline-block;
}

.menu-item {
    color: $text-light;
    line-height: $menu-height;
    padding: 0 $menu-spacing;
    cursor: pointer;

    > span {
        color: darken($text-light, 10%);

        &:hover {
            color: $text-light;
        }
    }
}

.sub-menu {
    display: none;
    &.show {
        display: block;
        position: absolute;
        z-index: 50;
        width: $submenu-width;
        background-color: darken($background-darkest, 2%);
        box-shadow: 0 0 2px 1px darken($background-darkest, 5%);
        color: $text-light;

        > * {
            display: block;
            width: 100%;
        }
    }
}