<p-menubar class="main-menu" [model]="menuItems" breakpoint="100px" />
<p-splitter [panelSizes]="[25,75]" class="main-splitter">
  <ng-template pTemplate>
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="main-content">
      <p-tabs [value]="currentRoute()" class="open-data-tabs" scrollable="">
        <p-tablist>
          @for (page of messagePages(); track page.id) {
            <p-tab [value]="'/messages/page/' + page.id" [routerLink]="'/messages/page/' + page.id">
              <span>{{ page.name }}</span>
              <p-button [rounded]="true" [text]="true" severity="danger" icon="pi pi-times" (click)="closePage(page.id, $event)" class="close-button"></p-button>
            </p-tab>
          }
        </p-tablist>
      </p-tabs>
      <p-scroll-panel>
        <router-outlet></router-outlet>
      </p-scroll-panel>
      <div class="logs">
        <button class="logs-header" (click)="toggleLogs()">
          <span class="text">Logs</span>
          @if (logsOpened()) {
            <span class="icon pi pi-chevron-down"></span>
          } @else {
            <span class="icon pi pi-chevron-left"></span>
          }
        </button>

        @if (logsOpened()) {
          <div class="logs-content">
            <sbb-logs-list [logs]="logs()"></sbb-logs-list>
          </div>
        }
      </div>
    </div>
  </ng-template>
</p-splitter>
<p-toast position="top-right" />
