<p-menubar class="main-menu" [model]="menuItems" breakpoint="100px" />
<p-splitter [panelSizes]="[25,75]" class="main-splitter">
  <ng-template pTemplate>
    <div class="sidebar">
      <p-scroll-panel>
        <app-sidebar></app-sidebar>
      </p-scroll-panel>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="main-content">
      <p-tabs value="/dashboard" class="open-data-tabs" scrollable="">
        <p-tablist>
          <p-tab value="/dashboard">
            tab 1
          </p-tab>
          <p-tab value="/dashboard2">
            tab2
          </p-tab>
        </p-tablist>
      </p-tabs>
      <p-scroll-panel>
        <router-outlet></router-outlet>
      </p-scroll-panel>
      <div class="logs">
        <button class="logs-header" (click)="toggleLogs()">
          <span class="text">Logs</span>
          @if (logsOpened()) {
            <span class="icon pi pi-chevron-down"></span>
          } @else {
            <span class="icon pi pi-chevron-left"></span>
          }
        </button>

        @if (logsOpened()) {
          <div class="logs-content">
            <sbb-logs-list [logs]="logs()"></sbb-logs-list>
          </div>
        }
      </div>
    </div>
  </ng-template>
</p-splitter>
<p-toast position="top-right" />
