:host ::ng-deep {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-menu {
    .p-menubar {
      padding: 0;
      border-radius: 0;
      z-index: 2;
      position: relative;
    }
  }

  .main-splitter {
    flex: 1;

    .p-splitter {
      border: none;
      border-radius: 0;
      height: 100%;
    }
  }

  .sidebar {
    width: 100%;
    height: 100%;
  }

  .main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;

    p-scroll-panel {
      width: 100%;
      height: 100%;
    }
  }
}

.open-data-tabs {
  --p-tabs-tab-padding: 0.4rem 0.8rem;
}

.logs {
  width: 100%;
}

.logs-header {
  width: 100%;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: var(--p-primary-600);
  color: white;
  font-size: 1rem;
  text-align: left;
  padding: 6px;
  display: block flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: var(--p-primary-700);
  }
}
