@import "../../../styling/colorscheme.scss";
@import "../../../styling/boxes.scss";
@import "../../../styling/forms.scss";

/* setup grid */
.container {
  display: grid;
  height: 100%;
  min-height: 1000px;

  @media all and (min-width: $large-layout) {
    grid-template-areas:
      "title title backlink"
      "messages-selection messages-selection properties"
      "message-body message-body custom-properties"
      "message-body message-body custom-properties";
    grid-template-rows: 15px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 600px;
  }

  grid-template-areas:
    "title backlink"
    "messages-selection messages-selection"
    "message-body message-body"
    "message-body message-body"
    "properties properties"
    "custom-properties custom-properties";

  grid-template-rows: 15px 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  > .backlink {
    grid-area: backlink;
  }

  > .title {
    grid-area: title;
  }

  > .messages-selection {
    grid-area: messages-selection;
  }

  > .message-body {
    grid-area: message-body;
  }

  > .properties {
    grid-area: properties;
  }

  > .custom-properties {
    grid-area: custom-properties;
  }

  > .connection-details {
    grid-area: connection-details;
  }
}

/* styling */
.messages-selection {
  max-height: 100%;

  .message-header {
    font-weight: bold;
    border-bottom: solid 1px $background-dark;
  }

  .message-option {
    font-size: 0.7em;
    .message-sequence-number {
      direction: rtl;
    }
  }

  .message-option,
  .message-header {
    line-height: 30px;
    cursor: pointer;
    display: flex;

    &:nth-child(even) {
      background-color: $background-lighter;
    }

    &.selected {
      background-color: $accent-light;
    }

    .message-id {
      flex: 1;
      padding: 0 10px;
      max-width: 330px;
      text-overflow: ellipsis;

      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
    }

    .message-sequence-number {
      width: 160px;
      text-align: right;
      text-overflow: ellipsis;
      padding: 0 10px;

      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
    }

    .message-subject {
      flex: 1;
      text-overflow: ellipsis;
      padding: 0 10px;

      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.message-body .box-body {
  overflow: hidden;

  ngx-monaco-editor {
    width: 100%;
    height: 100%;
  }
}

.backlink {
  text-align: right;
}

.properties,
.custom-properties {
  .property-line {
    height: 30px;
    line-height: 30px;
    width: 100%;

    &:nth-child(odd) {
      background-color: $background-lighter;
    }

    > .property-name {
      display: inline-block;
      width: 40%;
      padding: 0 10px;
      text-overflow: ellipsis;

      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
    }

    > .property-value {
      display: inline-block;
      width: 60%;
      padding: 0 10px;
      text-overflow: ellipsis;

      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
