<form [formGroup]="form" class="container">
    <div class="name box">
        <span class="box-title">Name</span>
        <span class="box-body">
            <div class="formcontrol">
                <input formControlName="name" />
            </div>
        </span>
    </div>
    <div class="queue-properties box no-padding">
        <span class="box-title">Queue properties</span>
        <span class="box-body">
            <div class="max-queue-size formcontrol">
                <label for="maxSizeInMegabytes">Max queue size</label>
                <input formControlName="maxSizeInMegabytes" />
            </div>
            <div class="max-delevery-count formcontrol">
                <label for="maxDeliveryCount">Max delevery count</label>
                <input formControlName="maxDeliveryCount" />
            </div>
            <div class="user-metadata formcontrol">
                <app-textbox-dialog-input label="User metadata" formControlName="userMetadata"></app-textbox-dialog-input>
            </div>
            <div class="forward-to formcontrol">
                <label for="forwardTo">Forward to</label>
                <input formControlName="forwardTo" />
            </div>
            <div class="forward-dead-letter-to formcontrol">
                <label for="forwardDeadLetteredMessagesTo">Forward dead letters to</label>
                <input formControlName="forwardDeadLetteredMessagesTo" />
            </div>
            <div class="duplication-time-window formcontrol">
                <label for="duplicateDetectionHistoryTimeWindow">Duplicate detection time window</label>
                <app-duration-input formControlName="duplicateDetectionHistoryTimeWindow"></app-duration-input>
            </div>
            <div class="auto-delete-on-idle formcontrol">
                <label for="autoDeleteOnIdle">Auto delete on idle</label>
                <app-duration-input formControlName="autoDeleteOnIdle"></app-duration-input>
            </div>
            <div class="default-message-ttl formcontrol">
                <label for="defaultMessageTimeToLive">Default message Time To Life</label>
                <app-duration-input formControlName="defaultMessageTimeToLive"></app-duration-input>
            </div>
            <div class="lock-duration formcontrol">
                <label for="lockDuration">Lock duration</label>
                <app-duration-input formControlName="lockDuration"></app-duration-input>
            </div>
        </span>
    </div>
    <div class="queue-settings box">
        <span class="box-title">Queue settings</span>
        <span class="box-body">
            <div class="batched-operations checkbox-option">
                <input type="checkbox" formControlName="enableBatchedOperations" />
                <label for="enableBatchedOperations">Enable batched operations</label>
            </div>
            <div class="dead-letter-on-message-expiration">
                <input type="checkbox" formControlName="deadLetteringOnMessageExpiration" />
                <label for="deadLetteringOnMessageExpiration">Deadlettering on message expiration</label>
            </div>
            <div class="partitioning">
                <input type="checkbox" formControlName="enablePartitioning" />
                <label for="enablePartitioning">Partitioning</label>
            </div>
            <div class="express">
                <input type="checkbox" formControlName="enableExpress" />
                <label for="enableExpress">Express</label>
            </div>
            <div class="requires-duplicate-detection">
                <input type="checkbox" formControlName="requiresDuplicateDetection" />
                <label for="requiresDuplicateDetection">Requires duplicate detection</label>
            </div>
            <div class="requiresSession">
                <input type="checkbox" formControlName="requiresSession" />
                <label for="requiresSession">Requires session</label>
            </div>
        </span>
    </div>
    <div class="queue-information box">
        <span class="box-title">Queue information</span>
        <span class="box-body no-padding">
            <div class="property-table">
                <div class="property-table-header">
                    <div class="property-name">Name</div>
                    <div class="property-value">Value</div>
                </div>
                <div class="property-table-row status">
                    <div class="property-name" title="Status">Status</div>
                    <div class="property-value" [title]="queue.info.status">{{ queue.info.status }}</div>
                </div>
                <div class="property-table-row size-in-bytes">
                    <div class="property-name" title="Size in bytes">Size in bytes</div>
                    <div class="property-value" [title]="queue.info.sizeInBytes">{{ queue.info.sizeInBytes }}</div>
                </div>
                <div class="property-table-row created-at">
                    <div class="property-name" title="Created at">Created at</div>
                    <div class="property-value" title="{{ queue.info.createdAt | date:'short' }}">{{ queue.info.createdAt | date:'short' }}</div>
                </div>
                <div class="property-table-row accessed-at">
                    <div class="property-name" title="Last accessed">Last accessed</div>
                    <div class="property-value" title="{{ queue.info.accessedAt | date:'short' }}">{{ queue.info.accessedAt | date:'short' }}
                    </div>
                </div>
                <div class="property-table-row modified-at">
                    <div class="property-name" title="Modified at">Modified at</div>
                    <div class="property-value" title="{{ queue.info.modifiedAt | date:'short' }}">{{ queue.info.modifiedAt | date:'short' }}</div>
                </div>
                <div class="property-table-row deadletter-message-count">
                    <div class="property-name" title="DeadLetter Message count">DeadLetter Message count</div>
                    <div class="property-value" [title]="queue.info.deadLetterMessageCount">{{ queue.info.deadLetterMessageCount }}</div>
                </div>
                <div class="property-table-row scheduled-message-count">
                    <div class="property-name" title="Scheduled message count">Scheduled message count</div>
                    <div class="property-value" [title]="queue.info.scheduledMessageCount">{{ queue.info.scheduledMessageCount }}</div>
                </div>
                <div class="property-table-row transfer-message-count">
                    <div class="property-name" title="transfer message count">transfer message count</div>
                    <div class="property-value" [title]="queue.info.transferMessageCount">{{ queue.info.transferMessageCount }}
                    </div>
                </div>
                <div class="property-table-row  transfer-deadletter-message-count">
                    <div class="property-name" title="transfer deadLetter message count">transfer deadLetter message count</div>
                    <div class="property-value" [title]="queue.info.transferDeadLetterMessageCount">{{ queue.info.transferDeadLetterMessageCount }}</div>
                </div>
                <div class="total-message-count">
                    <div class="property-name" title="Total message count">Total message count</div>
                    <div class="property-value" [title]="queue.info.totalMessageCount"> {{ queue.info.totalMessageCount }}</div>
                </div>
            </div>
        </span>
    </div>
    <div class="queue-actions">
        <button (click)="save()">Save</button>
    </div>
</form>