<div class="container" *ngIf="messageSet$ | async as messageSet">
    <div class="messages-selection box">
        <div class="box-title">Messages</div>
        <div class="box-body scroll no-padding" *ngIf="messageSet">
            <app-messages-table></app-messages-table>
        </div>
    </div>
    <div class="message-body box">
        <div class="box-title">
            <span class="title">Body</span>
            <span class="message-buttons" *ngIf="currentMessage$ | async as selectedMessage; else loadingButtons">
                <button *ngIf="messageSet.messagesChannel === 1"
                        (click)="requeueMessage(messageSet, selectedMessage)"
                        title="Requeue message">
                    <fa-icon class="icon-button"  [icon]="requeueIcon"></fa-icon>
                </button>
            </span>

            <ng-template #loadingButtons>
                <span class="message-buttons">
                    <button *ngIf="messageSet.messagesChannel === 1" disabled title="Requeue message">
                        <fa-icon class="icon-button"  [icon]="requeueIcon"></fa-icon>
                    </button>
                </span>
            </ng-template>
        </div>
        <div class="box-body no-padding">
            <app-messages-body></app-messages-body>
        </div>
    </div>
    <div class="properties box">
        <div class="box-title">Properties</div>
        <div class="box-body scroll no-padding">
            <ng-container *ngIf="messageSet">
                <div class="property-line" *ngIf="messageSet.origin === 0">
                    <span class="property-name" title="Queue Name">Queue Name</span>
                    <span class="property-value" [title]="messageSet.queueName">{{ messageSet.queueName }}</span>
                </div>
                <div class="property-line" *ngIf="messageSet.origin === 1">
                    <span class="property-name" title="Topic Name">Topic Name</span>
                    <span class="property-value" [title]="messageSet.topicName">{{ messageSet.topicName }}</span>
                </div>
                <div class="property-line" *ngIf="messageSet.origin === 1">
                    <span class="property-name" title="Subscription Name">Subscription Name</span>
                    <span class="property-value" [title]="messageSet.subscriptionName">{{ messageSet.subscriptionName
                        }}</span>
                </div>
            </ng-container>
            <ng-container *ngIf="currentMessage$ | async as selectedMessage">
                <div class="property-line" *ngFor="let line of selectedMessage.properties | keyvalue">
                    <span class="property-name" [title]="line.key">{{ line.key }}</span>
                    <span class="property-value" [title]="line.value">{{ line.value }}</span>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="custom-properties box">
        <div class="box-title">Custom Properties</div>
        <div class="box-body scroll no-padding">
            <ng-container *ngIf="currentMessage$ | async as selectedMessage">
                <div class="property-line custom" *ngFor="let line of selectedMessage.customProperties | keyvalue">
                    <span class="property-name" [title]="line.key">{{ line.key }}</span>
                    <span class="property-value" [title]="line.value">{{ line.value }}</span>
                </div>
            </ng-container>
        </div>
    </div>
</div>
