@import "../../../../styling/colorscheme";
@import "../../../../styling/boxes";
@import "../../../../styling/forms";

/* setup grid */
.container {
  display: grid;
  height: 100%;
  min-height: 1000px;

  @media all and (min-width: $large-layout) {
    grid-template-areas:
      "messages-selection messages-selection properties"
      "message-body message-body custom-properties"
      "message-body message-body custom-properties";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 600px;
  }

  grid-template-areas:
    "messages-selection messages-selection"
    "message-body message-body"
    "message-body message-body"
    "properties properties"
    "custom-properties custom-properties";

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  > .messages-selection {
    grid-area: messages-selection;
  }

  > .message-body {
    grid-area: message-body;
  }

  > .properties {
    grid-area: properties;
  }

  > .custom-properties {
    grid-area: custom-properties;
  }

  > .connection-details {
    grid-area: connection-details;
  }
}

/* styling */
.messages-selection {
  max-height: 100%;
}

.message-body .box-body {
  overflow: hidden;

  app-messages-body {
    height: 100%;
    width: 100%;
  }
}

.backlink {
  text-align: right;
}

.properties,
.custom-properties {
  .property-line {
    height: 30px;
    line-height: 30px;
    width: 100%;

    &:nth-child(odd) {
      background-color: $background-lighter;
    }

    > .property-name {
      display: inline-block;
      width: 40%;
      padding: 0 10px;
      text-overflow: ellipsis;

      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
    }

    > .property-value {
      display: inline-block;
      width: 60%;
      padding: 0 10px;
      text-overflow: ellipsis;

      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
