@import "./../../../styling/colorscheme.scss";
@import "./../menuConfig.scss";

.container {
    width: 100%;
    height: $menu-height;
    background-color: darken($accent, 10%);
    border-bottom: solid 1px darken($accent, 20%);
    box-sizing: border-box;
}