<div><a (click)="cancel()">Cancel</a></div>
<div *ngIf="selectedConnection !== null">
    <input type="text" [value]="selectedConnection.name" (change)="onNameChange($event)" />
    <input type="text" multiple [value]="selectedConnection.connectionDetails.connectionString" (change)="onConnectionStringChange($event)" />
    <button (click)="test()" [disabled]="selectedConnection.testSuccess">Test</button>
    <button (click)="save()" [disabled]="!selectedConnection.testSuccess">Save</button>
</div>