:host ::ng-deep {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-menu {
    z-index: 2;
    .sbb-menubar-row {
      padding: 0;
      min-height: 32px;
      border-radius: 0;
      z-index: 2;
      position: relative;
      -webkit-app-region: drag;

      .sbb-menubar__item,
      [sbbMenubarStart],
      [sbbMenubarEnd] {
        -webkit-app-region: no-drag;
      }

      .ws-menu-item.with-window-controls {
        margin-left: 1em;
      }
    }

    &.mac {
      .sbb-menubar-row {
        padding: 3px 3px 3px 70px;
      }
    }
  }

  body.fullscreen & .main-menu.mac {
    .sbb-menubar-row {
      padding-left: 3px;
    }
  }

  .main-splitter {
    z-index: 1;
    flex: 1;
    height: calc(100% - 32px);
  }

  .sidebar {
    width: 100%;
    height: 100%;
  }

  .main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;

    sbb-scroll-panel {
      flex: 1;
    }
  }
}

.router-outlet {
  height: 100%;
  width: 100%;
  container-name: mainContent;
  container-type: size;
}

.open-data-tabs {
  --p-tabs-tab-padding: 0.4rem 0.8rem;
}

.logs {
  width: 100%;
}

.close-button {
  --p-button-icon-only-width: 1rem;
}
