<app-topics-plane-base
    [connection]="connection"
    [showSubscriptions]="true"
    (topicSelected)="onTopicSelected($event)"
    (subscriptionSelected)="onSubscriptionSelected($event)"
    (subscriptionContextMenuSelected)="onSubscriptionContextMenuSelected($event)"
></app-topics-plane-base>

<ng-template #subscriptionContextMenu>
    <app-subscription-context-menu 
        [connectionId]="connection.id"
        [topicName]="selectedTopic.name"
        [subscription]="selectedSubscription"
    ></app-subscription-context-menu>
</ng-template>