.cdk-overlay-container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .cdk-overlay-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    &.cdk-overlay-dark-backdrop {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .cdk-global-overlay-wrapper {
    z-index: 2;
  }
}