.formcontrol {
  label {
    font-size: 0.9rem;
    width: 100%;
    display: block;
  }

  input, textarea {
    width: 100%;
    resize: none;
    display: block;
    border: solid #CCCCCC 1px;
    padding: 6px;
    box-sizing: border-box;
  }

  .radio-option {
    display: inline-block;
    input[type="radio"] {
      display: inline-block;
      width: fit-content;
    }
  }
}
