@import "./colorscheme.scss";

.property-table {
    width: 100%;
    .property-table-header {
        font-weight: bold;
    }

    .property-table-row:nth-child(even) {
        background-color: $background-lighter;
    }

    .property-name {
        width: 40%;
    }

    .property-value {
        width: 60%;
    }

    .property-name, .property-value {
        display: inline-block;
        padding: 0 10px;
        line-height: 30px;
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }
}