<div class="connection">
    <app-toggle-box open="true">
    <span class="title" [title]="connection?.name">{{connection.name}}</span>
    <div class="body">
        <app-queue-plane-base 
            *ngIf="queuesAvailable"
            [connection]="connection"
            (queueSelected)="onQueueSelected($event)"
        ></app-queue-plane-base>
        <app-topics-plane-base
            *ngIf="topicsAvailable"
            [connection]="connection"
            [showSubscriptions]="subscriptionsAvailable"
            (topicSelected)="onTopicSelected($event)"
            (subscriptionSelected)="onSubscriptionSelected($event)"
        ></app-topics-plane-base>
    </div>
</app-toggle-box>
</div>