@import "./styling/colorscheme.scss";

html {
    height: 100%;
    width: 100%; 
}

/* You can add global styles to this file, and also import other style files */
body {
    background-color: $background-lighter;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    user-select: none;
}