:host {
    display: block;
    width: 100%;
}

.title, .title-container {
    display: block;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.refresh {
    text-align: right;
    position: absolute;
    right: 0;
    padding-left: 10px;
}