@import "./../../../styling/colorscheme.scss";

$verbose: rgb(109, 109, 109);
$info: #008eb9;
$warning: #c4c700;
$error: #d40000;

.consoleplane {
    box-shadow: #c4c4c436 0px -5px 5px;
    height: 30px;
    display: flex;
    flex-direction: column;

    .scrollborder {
        height: 3px;
        background-color: $accent;
        cursor: ns-resize;
    }

    .topbar {
        color: $text-light;
        background: $accent;
        display: flex;
        cursor: pointer;
        height: 30px;
        padding: 0 8px;

        > span {
            line-height: 30px;
        }

        > .space {
            flex: 1;
        }

        > fa-icon {
            color: $text-light;
            display: block;
            margin: 7px;
            height: 16px;

            > svg {
                height: 100%;
            }
        }
    }

    > .consoletext {
        display: none;
        &.open {
            display: block;
            flex: 1;
            overflow-y: scroll;
            background-color: $background-lightest;
        }

        > .consoleline {
            font-family: "monospace";
            font-size: 0.9em;
            padding: 6px 4px;
            &:nth-child(even) {
                background-color: lighten($accent-light, 25%);
            }

            &.Verbose {
                color: $verbose;
            }

            &.Info {
                color: $info;
            }

            &.Warning {
                color: $warning;
            }

            &.Error {
                color: $error;
            }
        }
    }
}