<div class="consoleplane"
mwlResizable
[enableGhostResize]="true"
[ngStyle]="{'height': open ? height + 'px' : 'inherit'}"
(resizeEnd)="onResizeEnd($event)">
    <div class="scrollborder"
    *ngIf="open"
    mwlResizeHandle
    [resizeEdges]="{ top: true }"></div>
    <div class="topbar" (click)="toggleOpen()">
        <span>Console</span>
        <div class="space"></div>
        <fa-icon [icon]="icon" size="1x"></fa-icon>
    </div>
    <div class="consoletext" [ngClass]="{'open': open}" #logPlane>
        <div class="consoleline" *ngFor="let line of logLines">
            {{line}}
        </div>
    </div>
</div>