.title {
  display: block;
  width: 100%;
  position: relative;

  a {
    text-align: right;
    position: absolute;
    right: 0;
  }
}

app-queue-plane, app-topic-plane {
  margin: 16px 0;
  display: block;
}
