<div class="connection">
    <app-toggle-box open="true">
    <div class="title" (contextmenu)="openContextMenu($event)">
        <span>{{connection?.name}}</span>
    </div>
    <div class="body">
        <app-queue-plane [connection]="connection"></app-queue-plane>
        <app-topics-plane [connection]="connection"></app-topics-plane>
    </div>
</app-toggle-box>
</div>

<ng-template #contextMenu>
    <app-contextmenu-item (click)="edit()">Edit</app-contextmenu-item>
    <app-contextmenu-item (click)="disconnect()">Disconnect</app-contextmenu-item>
</ng-template>