<form [formGroup]="form" class="container">
    <div class="name box">
        <span class="box-title">Name</span>
        <span class="box-body">
            <div class="formcontrol">
                <input formControlName="name" />
            </div>
        </span>
    </div>
    <div class="topic-properties box no-padding">
        <span class="box-title">Topic properties</span>
        <span class="box-body">
            <div class="formcontrol">
                <label for="maxSizeInMegabytes">Max queue size</label>
                <input formControlName="maxSizeInMegabytes" />
            </div>
            <div class="formcontrol">
                <app-textbox-dialog-input label="User metadata" formControlName="userMetadata"></app-textbox-dialog-input>
            </div>
            <div class="formcontrol">
                <label for="autoDeleteOnIdle">Auto delete on idle</label>
                <app-duration-input formControlName="autoDeleteOnIdle"></app-duration-input>
            </div>
            <div class="formcontrol">
                <label for="duplicateDetectionHistoryTimeWindow">Default message Time To Life</label>
                <app-duration-input formControlName="duplicateDetectionHistoryTimeWindow"></app-duration-input>
            </div>
            <div class="formcontrol">
                <label for="duplicateDetectionHistoryTimeWindow">Duplication detection time window</label>
                <app-duration-input formControlName="duplicateDetectionHistoryTimeWindow"></app-duration-input>
            </div>
        </span>
    </div>
    <div class="topic-settings box">
        <span class="box-title">Topic settings</span>
        <span class="box-body">
            <div class="checkbox-option">
                <input type="checkbox" formControlName="requiresDuplicateDetection" />
                <label for="requiresDuplicateDetection">Require duplication detection</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" formControlName="enableBatchedOperations" />
                <label for="enableBatchedOperations">Enable batched operations</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" formControlName="supportOrdering" />
                <label for="supportOrdering">Support ordering</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" formControlName="enablePartitioning" />
                <label for="enablePartitioning">Enable partitioning</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" formControlName="enableExpress" />
                <label for="enableExpress">Enable express</label>
            </div>
        </span>
    </div>
    <div class="topic-information box">
        <span class="box-title">Topic information</span>
        <span class="box-body no-padding">
            <div class="property-table">
                <div class="property-table-header">
                    <div class="property-name">Name</div>
                    <div class="property-value">Value</div>
                </div>
                <div class="property-table-row status">
                    <div class="property-name" title="Status">Status</div>
                    <div class="property-value" [title]="topic.info.status">{{ topic.info.status }}</div>
                </div>
                <div class="property-table-row status">
                    <div class="property-name" title="Availability status">Availability status</div>
                    <div class="property-value" [title]="topic.info.availabilityStatus">{{ topic.info.availabilityStatus }}</div>
                </div>
                <div class="property-table-row status">
                    <div class="property-name" title="Size in bytes">Size in bytes</div>
                    <div class="property-value" [title]="topic.info.sizeInBytes">{{ topic.info.sizeInBytes }}</div>
                </div>
                <div class="property-table-row status">
                    <div class="property-name" title="Subscription count">Subscription count</div>
                    <div class="property-value" [title]="topic.info.subscriptionCount">{{ topic.info.subscriptionCount }}</div>
                </div>
                <div class="property-table-row status">
                    <div class="property-name" title="Scheduled message count">Scheduled message count</div>
                    <div class="property-value" [title]="topic.info.scheduledMessageCount">{{ topic.info.scheduledMessageCount }}</div>
                </div>
                <div class="property-table-row created-at">
                    <div class="property-name" title="Created at">Created at</div>
                    <div class="property-value" title="{{ topic.info.createdAt | date:'short' }}">{{ topic.info.createdAt | date:'short' }}</div>
                </div>
                <div class="property-table-row accessed-at">
                    <div class="property-name" title="Last accessed">Last accessed</div>
                    <div class="property-value" title="{{ topic.info.accessedAt | date:'short' }}">{{ topic.info.accessedAt | date:'short' }}
                    </div>
                </div>
                <div class="property-table-row modified-at">
                    <div class="property-name" title="Modified at">Modified at</div>
                    <div class="property-value" title="{{ topic.info.modifiedAt | date:'short' }}">{{ topic.info.modifiedAt | date:'short' }}</div>
                </div>
            </div>
        </span>
    </div>
    <div class="topic-actions">
        <button (click)="save()">Save</button>
    </div>
</form>