<table cdk-table class="messages-table" [dataSource]="dataSource$ | async">
  <!-- User name Definition -->
  <ng-container cdkColumnDef="sequenceNumber">
    <th cdk-header-cell *cdkHeaderCellDef> Sequence number </th>
    <td cdk-cell *cdkCellDef="let row"> {{ row.sequenceNumber }} </td>
  </ng-container>

  <!-- Age Definition -->
  <ng-container cdkColumnDef="id">
    <th cdk-header-cell *cdkHeaderCellDef> Id </th>
    <td cdk-cell *cdkCellDef="let row"> {{ row.id }} </td>
  </ng-container>

  <!-- Title Definition -->
  <ng-container cdkColumnDef="subject">
    <th cdk-header-cell *cdkHeaderCellDef> Subject </th>
    <td cdk-cell *cdkCellDef="let row"> {{ row.subject }} </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr cdk-header-row class="header" *cdkHeaderRowDef="['sequenceNumber', 'id', 'subject']"></tr>
  <tr cdk-row class="row" (click)="selectMessage(row.id)" [class.selected]="row.id == (currentMessageId$ | async)" *cdkRowDef="let row; columns: ['sequenceNumber', 'id', 'subject']"></tr>
</table>
